@model LibraryFullstackSystem1.Models.Patron.PatronDetailModel

@{
    ViewData["Title"] = "Patron Detail";
}

<div class="body-content">
    <div class="jumbotron">
        <h1 class="text-capitalize">Account information</h1>
        <div class="row">
            <div class="col-lg-3">
                <h2>
                    @Model.LastName, @Model.FirstName
                </h2>
                <p>
                    <small class="text-muted">
                        @Model.Address
                    </small>
                </p>
                <p>
                    <small class="text-muted">
                        @Model.DateOfBirth
                    </small>
                </p>
                <p>
                    <small class="text-muted">
                        @Model.Branch
                    </small>
                </p>

                <p class="text-danger">Balance: $@Model.Fee</p>

            </div>

            <div class="col-lg-5">
                <h3 class="">Current Checkouts</h3>
                @if (Model.PatronCheckouts.Any())
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Since</th>
                                <th>Until</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var checkouts in Model.PatronCheckouts)
                            {
                                <tr>
                                    <td>
                                        <small>@checkouts.AssetTitle</small>
                                    </td>
                                    <td>
                                        <small>@checkouts.Since</small>
                                    </td>
                                    <td>
                                        <small>@checkouts.Until</small>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p><small class="text-warning">This patron has no current checkouts</small></p>

                }

            </div>

            <div class="col-lg-4">
                <h3 class="">Current Holds</h3>
                @if (Model.PatronHolds.Any())
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Hold Placed</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var hold in Model.PatronHolds)
                            {
                                <tr>
                                    <td>@hold.AssetTitle</td>
                                    <td>@hold.HoldPlaced</td>
                                </tr>
                            }
                        </tbody>
                    </table>      
                }
                else {
                    <p><small class="text-warning">This patron has no current holds</small></p>
                }
            </div>
        </div>
    </div>
</div>
