@model LibraryFullstackSystem1.Models.Patron.PatronDetailModel

@{
    ViewData["Title"] = "Patron Detail";
}

<div class="body-content">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4">
                <h2>
                    @Model.LastName, @Model.FirstName
                </h2>
                <p>@Model.Address</p>
                <p>@Model.DateOfBirth</p>
                <p>@Model.Branch</p>

                <p>Balance: $@Model.Fee</p>

            </div>

            <div class="col-sm-4">
                <h3 class="">Current Checkouts:</h3>
                @if (Model.PatronCheckouts.Any())
                {
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Since</th>
                                <th>Until</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var checkouts in Model.PatronCheckouts)
                            {
                                <tr>
                                    <td>
                                        <small>@checkouts.AssetTitle</small>
                                    </td>
                                    <td>
                                        <small>@checkouts.Since</small>
                                    </td>
                                    <td>
                                        <small>@checkouts.Until</small>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p><small class="text-warning">This patron has no current checkouts</small></p>

                }

            </div>

            <div class="col-sm-4">

            </div>
        </div>
    </div>
</div>
