@model LibraryFullstackSystem1.Models.Branch.BranchIndexModel

@{
    ViewData["Title"] = "Library Branch";
}

<div class="body-content">
    <div class="">
        <h2>Branches</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            @foreach (var branch in Model.Branches)
            {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@branch.ImageUrl" class="">
                    <div class="caption">
                        <h3 class="">@branch.Name</h3>
                        <p>
                            <small class="text-muted">@branch.Address</small>
                        </p>
                        <p>
                            <small class="text-muted">@branch.OpenDate</small>
                        </p>
                        <p><a asp-controller="Branch" asp-action="Detail" asp-route-id="@branch.Id" class="btn btn-primary" role="button">View detail</a></p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

