@model LibraryFullstackSystem1.Models.Catalog.AssetDetailModel

<div class="body-content">
    <div class="page-header clearfix">
        <h2>View Library Item</h2>
    </div>
</div>

<div class="jumbotron">
    <h1 class="display-4">@Model.Title</h1>
    <p class="lead">@Model.AuthorOrDirector</p>
    <hr class="my-4">
    <p>Cost: @Model.Cost</p>
    <p>DewelCallNumber: @Model.DeweyCallNumber</p>
    <p>Type: @Model.Type</p>
    <p>Year: @Model.Year</p>

    @if (Model.Status == "Available")
    {
        <p><a class="btn btn-lg btn-default" role="button" asp-controller="Catalog" asp-action="Checkout" asp-route-id="@Model.AssetId">Check Out</a></p>
    }

    @if (Model.Status == "Checked Out")
    {
        <p><a class="btn btn-lg btn-warning" role="button" asp-controller="Catalog" asp-action="Checkin" asp-route-id="@Model.AssetId">Check In</a></p>
        <p><a class="btn btn-lg btn-success" role="button" asp-controller="Catalog" asp-action="Hold" asp-route-id="@Model.AssetId">Check Hold</a></p>
        <p><a class="btn btn-lg btn-default" role="button" asp-controller="Catalog" asp-action="Lost" asp-route-id="@Model.AssetId">Lost</a></p>
    }

    @if (Model.Status == "Lost")
    {
        <p><a class="btn btn-lg btn-primary" role="button" asp-controller="Catalog" asp-action="Found" asp-route-id="@Model.AssetId">Found</a></p>
    }

    <div class="col-md-4">
        <table>
            <tr>
                <td class="">ISBN: </td>
                <td class="">@Model.ISBN</td>
            </tr>
            <tr>
                <td class="">Call Number: </td>
                <td class="">@Model.DeweyCallNumber</td>
            </tr>
            <tr>
                <td class="">Replacement Cost: </td>
                <td class="">@Model.Cost</td>
            </tr>
        </table>
    </div>
</div>

