@model LibraryFullstackSystem1.Models.Catalog.AssetDetailModel

<div class="body-content">
    <div class="page-header clearfix">
        <h2>View Library Item</h2>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-2">
            <img class="imageSmall" src="@Model.ImageUrl" />
        </div>

        <div class="col-lg-10">
            <p>Title: @Model.Title</p>
            <p>Authour/Director: @Model.AuthorOrDirector</p>
        </div>
    </div>

    <hr class="my-4">
    
    <div class="row">
        <div class="col-sm-6">
            <p>Cost: @Model.Cost</p>
            <p>DewelCallNumber: @Model.DeweyCallNumber</p>
            <p>Type: @Model.Type</p>
            <p>Status: @Model.Status</p>
            <p>Year: @Model.Year</p>
            <p>Location: @Model.CurrentLocation</p>
        </div>

        <div class="col-sm-6">
            <table>
                <tr>
                    <td class="">ISBN: </td>
                    <td class="">@Model.ISBN</td>
                </tr>
                <tr>
                    <td class="">Call Number: </td>
                    <td class="">@Model.DeweyCallNumber</td>
                </tr>
                <tr>
                    <td class="">Replacement Cost: </td>
                    <td class="">@Model.Cost</td>
                </tr>
            </table>
        </div>
    </div>

    @if (Model.Status == "Available")
    {
        <p><a class="btn btn-lg btn-default" role="button" asp-controller="Catalog" asp-action="Checkout" asp-route-id="@Model.AssetId">Check Out</a></p>
    }

    @if (Model.Status == "Checked Out")
    {
        <p>Checkout by: @Model.PatronName</p>
        <p><a class="btn btn-lg btn-warning" role="button" asp-controller="Catalog" asp-action="Checkin" asp-route-id="@Model.AssetId">Check In</a></p>
        <p><a class="btn btn-lg btn-success" role="button" asp-controller="Catalog" asp-action="Hold" asp-route-id="@Model.AssetId">Check Hold</a></p>
        <p><a class="btn btn-lg btn-default" role="button" asp-controller="Catalog" asp-action="Lost" asp-route-id="@Model.AssetId">Lost</a></p>
    }

    @if (Model.Status == "Lost")
    {
        <p>The item has been lost.</p>
        <p><a class="btn btn-lg btn-primary" role="button" asp-controller="Catalog" asp-action="Found" asp-route-id="@Model.AssetId">Found</a></p>
    }

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Checkout History</h4>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date Loaned</th>
                        <th scope="col">Date Retured</th>
                        <th scope="col">Card ID</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var checkoutHistory in Model.CheckoutHistory)
                        {
                    <tr>
                        <td scope="row">@checkoutHistory.CheckedOut</td>
                        <td scope="row">@checkoutHistory.CheckedIn</td>
                        <td scope="row">@checkoutHistory.LibraryCard.Id</td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4>Current Holds</h4>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Hold Placed</th>
                        <th scope="col">Patron</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var currentHolds in Model.CurrentHolds)
                        {
                    <tr>
                        <td scope="row">@currentHolds.HoldPlaced</td>
                        <td scope="row">@currentHolds.PatronName</td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>

